h1 {
  text-align: center;
}

#wrapper {
  border: 2px solid black;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  background-color: #000;
}

.cell {
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  height: 155px;
  margin: 1px 1px;
  max-width: 166px;
  width: 155px;
  left: 3px;
  background-color: #fff;
  text-align: center;
  font-size: 140px;
  background-size: contain;
}
.wrapDiv {
  position: relative;
  margin: 1px;
  display: inline-block;

  width: 162px;

}

